<%- if params[:success] -%>
<section>
  <p>Thanks! 🎉 We'll send you an email when your license is ready. If you have questions, email <a href="mailto:heya@honeybadger.io">heya@honeybadger.io</a>.</p>
</section>
<%- end -%>
<header>
  <img src="/honeybadger_bolt.svg" width="100">
  <h1>Heya, Rails Developer 👋</h1>
  <p>
    Have you ever set up a complicated marketing integration just to send some emails? Would you like to skip that next time?
    <br>
    Or, maybe you want to save a boatload of money on Intercom?
    <br>
    If so, then we have just the thing for you.
  </p>
  <br>
  <p><a href="https://github.com/honeybadger-io/heya" onclick="fathom('trackGoal', 'GZ27HZNC', 0);"><i><span class="fab fa-github"></span> Grab the Code</i></a><a href="https://gum.co/heya-rails" onclick="fathom('trackGoal', '7D781BSN', 0);"><b>Buy Now &rarr;</b></a></p>
  <p><small><span class="fas fa-star"></span> Don't forget to star the repo!</small></p>
</header>

<main>
  <section>
    <header>
      <h2>Introducing Heya 👋</h2>
      <p>Heya 👋 is a campaign mailer for Rails. Think of it like ActionMailer, but for timed email sequences. It can also perform other actions like sending a text message. Generate and send automated email campaigns with just a few <code>rails</code> commands.</p>
    </header>
    <aside>
      <center>
        <h3>Not this Heya:</h3>
        <p><img src="/heya.gif" width="350" alt="André 3000 singing into microphone"></p>
        <p><small>(although feel free to mistakenly associate this with Outkast, alright?)</small></p>
      </center>
    </aside>
    <aside>
      <center>
        <h3>This Heya:</h3>
        <pre><code># app/campaigns/onboarding_campaign.rb
class OnboardingCampaign < Heya::Campaigns::Base
  default wait: 2.days,
    from: "josh@honeybadger.io"

  step :welcome,
    subject: "Heya is so cool",

  step :set_up,
    subject: "Here's how it works",

  step :convert,
    subject: "omg, you should buy it 🙀"
end</code></pre>
      </center>
    </aside>
  </section>
  <hr>
  <section>
    <header>
      <h2>Here we go 👇</h2>
      <p>Get <a href="https://github.com/honeybadger-io/heya-app/blob/master/app/campaigns/demo_campaign.rb">this open source Heya demo</a> delivered fresh to your inbox:</p>
      <%= form_for @user, html: {onsubmit: "fathom('trackGoal', 'XRRBFQA4', 0);"} do |f| %>
        <%= f.text_field :name, placeholder: "Name" %>
        <%= f.email_field :email, placeholder: "Email", required: true %>
        <%= f.submit "Shake it like a Polaroid picture" %>
        <div><small>We'll never share your email address; unsubscribe any time.</small></div>
      <% end %>
    </header>
  </section>
  <hr>
  <section>
    <header>
      <h2>Who are you really, btw?</h2>
      <p>We're <a href="https://www.honeybadger.io">Honeybadger</a>&mdash;the ice cold error tracker for Rails. You may also know us from our podcast, <a href="https://www.founderquestpodcast.com">FounderQuest</a>.</p><p> We made Heya for ourselves and thought you might like it too.</p>
    </header>
  </section>
  <hr>
  <section>
    <header>
      <h2>Is Heya free to use?</h2>
      <p>Heya is completely open source, licensed under the <a href="https://prosperitylicense.com">Prosperity Public License</a>. You can install the full gem in your Rails app right now to try it out. If you like it, you must do one of the following:</p>
    </header>
    <aside>
      <h3>Non-profit and small business</h3>
      <p>If you're a non-profit or have less than 1000 users in your database, Heya is completely free.</p>
    </aside>
    <aside>
      <h3>Established businesses</h3>
      <p>Everyone else can try Heya for thirty days&mdash;if you decide to keep it in your Gemfile, a commerical license is <strong>$99/year</strong>.</p>
    </aside>
  </section>
  <section>
    <header>
      <h3>But why do I have to pay?</h2>
      <p>We built Heya for our internal use at Honeybadger, and we thought you might like it too. We're not ashamed to say that we're in this to make money, though. If you can afford to pay for the work we put into our open source, then please do. Bonus: if enough people use Heya, we have a lot of cool ideas for things to add to it.</p>
    </header>
  </section>
</main>
<footer>
  <p>Copyright <%= Date.today.year %> Honeybadger Industries LLC, All Rights Reserved</p>
</footer>
