<!DOCTYPE html>
<html>
  <head>
    <title>Heya: The Campaign Mailer for Rails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a02ce9628b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@honeybadgerapp">
    <meta name="twitter:creator" content="@heyjoshwood">
    <meta name="twitter:title" content="Heya 👋">
    <meta name="twitter:description" content="Heya is a campaign mailer for Rails. Think of it like ActionMailer, but for timed email sequences.">
    <meta name="twitter:image:src" content="https://www.heya.email/heya.gif">

    <meta property="og:site_name" content="Heya 👋" />
    <meta property="og:title" content="Heya 👋" />
    <meta property="og:description" content="Heya is a campaign mailer for Rails. Think of it like ActionMailer, but for timed email sequences." />
    <meta property="og:image" content="https://www.heya.email/heya.gif" />
  </head>

  <body>
    <%= yield %>
    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'IVXDGYEI');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->
  </body>
</html>
